.review {
    text-align: center;
    padding: 20px;
  }
  
  .quote {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .author {
    font-style: italic;
    font-size: 1.2rem;
  }
  
  .carousel-indicators{
   bottom: -45px;
  }