/* SwitchExample.css */
.form-check-input {
  &:checked {
    background-color: "none";
    box-shadow: 0 0 0 0.25rem rgba(234, 110, 110, 0.25);
    background-color: #FFC107;
    border-color: white;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
  }
  &:hover{
    cursor:pointer;
  }
}
.nav-link{
  font-weight: 500;
}
.navbar-nav{
  --bs-nav-link-hover-color:#FFC107
}